<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handwritten Recognition System</title>
    <link rel="icon" type="image/x-icon" href="/static/css/assets/icon.png">
    <link rel="stylesheet" href="/static/css/style1.css">
    <link rel="stylesheet" href="/static/css/all.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body class="body">
  <div class="container home">
    <nav class="navbar navbar-expand-lg navbar-dark bg-transparent">
      <div class="container-fluid">
        <a class="brand navbar-brand text-dark fw-bold" href="#">IBM</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar-nav-scroll justify-content-end" id="navbarScroll">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-dark"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" href="http://127.0.0.1:8000/main">Recognize</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
    <h1 class="title text-dark">Handwritten Recognition System</h1>
    <p class="text text-dark">
        <i>Handwritten Text Recognition is an technology that is much needed in this world as of today. Digit recognition system is the working of a machine to train itself or recognizing the digits from different sources
    like emails, bank cheque, papers, images, etc.and in different real-world scenarios for online handwriting recognition
    on computer tablets or system, recognize number plates of vehicles, processing bank cheque amounts,numeric entries
    in forms filled up by hand.It is difficult to store and access physical data with efficiency.The project presents recognizing the handwritten digits[0-9] from the famous MNIST dataset.Here we will be using Artificial Neural Network.</i>
    </p>
  </div>
  </div>
   <script src="/static/js/bootstrap.min.js"></script>
   <script src="/static/js/jquery-3.6.1.js"></script>
  </body>
</html>